<!-- <ion-header>
  <ion-toolbar>
    <ion-title>auth</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="fullheight xc vcs">

    <ion-card class="w-90">
      <ion-card-content>

        <ion-grid>
          <ion-row class="ion-align-self-stretch ion-justify-content-center">
            <ion-col class="ion-justify-content-center">
              <ion-grid>
                <ion-row class="ion-align-items-center ion-justify-content-center">
                  <ion-col>
                    <ion-input placeholder="Username"></ion-input>
                  </ion-col>
                </ion-row>

                <ion-row class="ion-align-items-center ion-justify-content-center">
                  <ion-col>
                    <ion-input type="password" placeholder="Password"></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>

    <div class="w-90">
      <ion-button expand="block" (click)="doLogin()">Login</ion-button>
    </div>

  </div>



</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
