/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.otp-input {
    width: 80px;
    height: 60px;
    text-align: center;
    font-size: 1.5rem;
}

.header {
    color: white;
    padding: 15px 10px;
  
    .header-bg {
      position: absolute;
      background-color: rgb(72, 72, 224);
      z-index: -1;
      width: 180%;
      height: 200px;
      top: -145px;
      left: -40%;
    }
  }