<ion-header>
  <section class="position-relative header d-flex">
    <div class="header-bg"></div>
    <ion-back-button slot="start" defaultHref="/auth/login"></ion-back-button>
    <ion-title>Sign Up</ion-title>
  </section>
</ion-header>

<ion-content class="ion-padding-top" [formGroup]="newAccountForm">
  <h5 class="text-center">Setup Your Account</h5>

  <div class="ion-padding">
    <ion-input fill="outline" label="First Name" labelPlacement="floating" formControlName="first_name"></ion-input>
    <br />
    
    <ion-input fill="outline" label="Last Name" labelPlacement="floating" formControlName="last_name"></ion-input>
    <br />
    
    <ion-input fill="outline" label="Email" type="email" labelPlacement="floating" formControlName="email"
      placeholder="joe@example.com"></ion-input>
    <br />
    
    <ion-input fill="outline" label="Phone Number" type="tel" labelPlacement="floating" formControlName="mobile_number"
      placeholder="+233244000000"></ion-input>
    <br />

    <ion-input fill="outline" label="Password" helperText="min 8 chars, mix of letters, numbers & symbols"
      labelPlacement="floating" type="password" formControlName="password" placeholder="p@$$w0RD!"></ion-input>

  </div>

</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" type="submit" (click)="validate()">Create Account</ion-button>
</ion-footer>