<ion-header>
  <ion-toolbar class="py-2">
    <ion-searchbar #searchbar placeholder="Enter Name or Phone Number" color="light"
    (ionChange)="searchDirectory($event)" [debounce]="1000"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-list lines="full">
  @if (memberships$ | async; as memberships) {
    @if (memberships.length > 0) {
      <ion-item-group>
        @for (membership of memberships; track membership) {
          <ion-item detail="true" (click)="viewProfileDetails(membership)">
            <ngx-avatars slot="start" [src]="membership.member?.thumbnail()" [name]="membership.name()"
            size="40"></ngx-avatars>
            <ion-label>
              <p class="fw-semibold my-0">{{ membership.name() }}</p>
              <p class="text-muted my-0">{{ membership.category?.name }}</p>
            </ion-label>
          </ion-item>
        }
      </ion-item-group>
    } @else {
      <ion-item lines="none">
        <ion-label class="ion-padding-vertical ion-text-center ion-text-wrap">
          <h1>No Memberships Found</h1>
          <p>Enter a member name or phone number to search the membership directory</p>
        </ion-label>
      </ion-item>
    }
  } @else {
    <ion-item>
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-item>
    <ion-item>
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-item>
  }


</ion-list>

@if (viewingProfile) {
  <app-profile-details (close)="viewingProfile = false" [membership]="selectedProfile"></app-profile-details>
}
