<ion-content>

  <div class="fullheight xc vcs">

    <form [formGroup]="loginForm" class="mx-4 my-5">

      <div class="d-flex justify-content-center">
        <img src="assets/images/logo_500_dk_lc.png" class="mx-auto mb-4 w-75" />
      </div>

      <ion-grid>
        <ion-row class="ion-align-self-stretch ion-justify-content-center">
          <ion-col class="ion-justify-content-center">
            <ion-grid>
              <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col>
                  <ion-item>
                    <ion-label position="floating" class="mb-2">Mobile Number</ion-label>
                    <!-- <ion-input formControlName="username" type="tel" placeholder="(xxx) xxx-xxxx"></ion-input> -->
                    <ion-intl-tel-input formControlName="username" [defaultCountryiso]="'gh'" [preferredCountries]="['gh']"></ion-intl-tel-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="w-90">
        <ion-button expand="block" type="submit" (click)="doLogin()">
          <ion-spinner  *ngIf="authService.requesting" name="crescent" class="ion-margin-end py-4" color="white"></ion-spinner>
          <ion-text>Login</ion-text>
        </ion-button>
      </div>
    </form>



  </div>



</ion-content>
