body.swal2-height-auto {
  height: 100% !important;
}

// :host ::ng-deep .ion-intl-tel-input-number {
//   padding-left: 10px;
// }

.login-block {

  ion-item::part(native) {
    border-color: #f3f3f3;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.header {
  color: white;
  padding: 15px 10px;

  .header-bg {
    position: absolute;
    background-color: rgb(72, 72, 224);
    z-index: -1;
    border-radius: 50%;
    width: 180%;
    height: 200px;
    top: -100px;
    left: -40%;
  }
}

ion-list-header {
  text-align: center;
  padding-inline-start: 0px;
}

ion-toolbar {
  --background: none;
}
