<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="discover">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Discover</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payments">
      <ion-icon name="card"></ion-icon>
      <ion-label>Payments</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Your Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
