<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/pages/organisations"></ion-back-button>
    </ion-buttons>

    <ngx-avatars slot="start" [src]="organisation?.logo" [name]="organisation?.name" size="40"></ngx-avatars>

    <ion-title size="small">{{ organisation?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (membership) {
    <ion-card class="shadow-sm">
      <ion-card-content class="ion-no-padding">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <qr-code  [value]="membership?.uuid" size="80" errorCorrectionLevel="M"></qr-code>
            </ion-col>
            <ion-col class="ion-padding-top">
              <div class="fw-semibold text-dark">{{ membership.organisation?.name }}</div>
              <div class="">{{ membership.category?.name }}</div>
              <div class="">{{ membership.organisation_no }}</div>
              <div>Expires: <ion-text color="success">NEVER</ion-text></div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  }
</ion-content>
