<ion-header>
  <section class="position-relative header d-flex">
    <div class="header-bg"></div>
    <ion-back-button slot="start" defaultHref="/auth/login"></ion-back-button>
    <ion-title>Forgot Password</ion-title>
  </section>
</ion-header>

<ion-content>

  <div class="fullheight xc vcs">

    <form class="mx-4 my-5" [formGroup]="forgotpassForm">
      <!-- <h4 class="ion-text-center">Reset Your Password</h4> -->
      <ion-grid class="login-block">
        <ion-row class="ion-align-items-center ion-justify-content-center mb-2">
          <ion-col>
            <ion-item>
              <ion-input label="Enter Email Address" type="email" labelPlacement="floating" formControlName="email"
                placeholder="joe@email.com"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button expand="block" type="submit" (click)="forgotpass()">
              <ion-text>Reset My Password</ion-text>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="w-80">
        <ion-list class="mt-4" >
          <ion-item button lines="true" detail="true" routerLink="/auth">
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
            <ion-label>Login</ion-label>
          </ion-item>
          <ion-item button lines="none" detail="true" routerLink="/auth/register">
            <ion-icon slot="start" name="pencil"></ion-icon>
            <ion-label>Sign Up</ion-label>
          </ion-item>

        </ion-list>
      </div>
    </form>



  </div>



</ion-content>