<ion-header>
  <section class="position-relative header d-flex">
    <div class="header-bg"></div>
    <ion-back-button slot="start" defaultHref="/auth/login"></ion-back-button>
    <ion-title>Forgot Password</ion-title>
  </section>
</ion-header>

<ion-content>

  <div class="fullheight xc vcs">

    <form class="mx-4 my-5" [formGroup]="forgotpassForm">

      <ion-input fill="outline" label="Enter Email Address" type="email" labelPlacement="floating"
        formControlName="email" placeholder="joe@email.com" errorText="Invalid email">
      </ion-input>

      <br />

      <ion-button expand="block" type="submit" (click)="forgotpass()">
        @if(authService.requesting) {
          <ion-spinner name="crescent" class="ion-margin-end"></ion-spinner>
        }
        <ion-text>Reset My Password</ion-text>
      </ion-button>

      <br />

      <p class="d-flex ion-justify-content-center ion-align-items-center ion-padding" style="font-size: 0.9rem;">
        <ion-text class="ion-margin-end">Remember Your Account?</ion-text>
        <ion-router-link routerLink="/auth/login">
          <ion-text color="primary">Sign In</ion-text>
        </ion-router-link>
      </p>
    </form>

  </div>

</ion-content>

<ion-footer class="d-flex ion-justify-content-center ion-padding">
  <p>
    <ion-text class="ion-margin-end">Don't have an account?</ion-text>
    <ion-router-link routerLink="/auth/register">
      <ion-text color="primary">Sign Up</ion-text>
    </ion-router-link>
  </p>
</ion-footer>