<!-- <app-main-menu [contentId]="'main-content'"></app-main-menu> -->


<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <!-- <ion-buttons slot="start">
      <ion-menu-button menu="main-content"></ion-menu-button>
    </ion-buttons> -->

    <ion-title>
      <ion-label>
        {{ 'Welcome' }} {{ user?.member?.first_name }}!
      </ion-label>
    </ion-title>

    <ngx-avatars [src]="user?.member?.thumbnail()" [name]="user?.name()" slot="end" [size]="36" class="ion-padding"
      routerLink="/tabs/pages/settings">
    </ngx-avatars>
  </ion-toolbar>

</ion-header>

<ion-content class="pb-50">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if ((memberships$ | async); as memberships) {
    <ion-list lines="full">
      <ion-list-header lines="full">
        <ion-label>Select an organisation to view membership details</ion-label>
      </ion-list-header>
      @for (membership of memberships; track membership) {
        <ion-item detail="true" button (click)="loadMembership(membership)">
          <ngx-avatars slot="start" [src]="membership.organisation?.logo" [name]="membership.organisation?.name"
          size="40"></ngx-avatars>
          <ion-label>
            <h6 class="fw-semibold">{{ membership.organisation?.name }}</h6>
            <p class="mb-0">{{ membership.category?.name }}</p>
          </ion-label>
        </ion-item>
      }
    </ion-list>
  } @else {
    <div class="ion-padding ion-text-center ion-align-items-center">
      <ion-spinner name="crescent" class="ion-margin-end"></ion-spinner>
      <ion-text>Loading Your Memberships</ion-text>
    </div>
  }


  <div class="ion-padding">
    <ion-button expand="block" routerLink="/discover">
      Join An Organisation
    </ion-button>
  </div>
</ion-content>


</div>
