<app-main-menu [contentId]="'profile-content'"></app-main-menu>

<div class="ion-page" id="profile-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="profile-content"></ion-menu-button>
      </ion-buttons>

      <ion-title>
        <ion-label>
          Your Profile
        </ion-label>
      </ion-title>

      <ngx-avatars [src]="user?.member?.thumbnail()" [name]="user?.name()" slot="end" [size]="36" class="ion-padding">
      </ngx-avatars>
    </ion-toolbar>

  </ion-header>

  <ion-content [fullscreen]="true">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Personal ID QR Code</ion-card-title>
      </ion-card-header>

      <ion-card-content class="ion-text-center">
        <qr-code [value]="user?.username" size="180" errorCorrectionLevel="M"></qr-code>
      </ion-card-content>
    </ion-card>


  </ion-content>
</div>
