.welcome-item {
  padding: 5px 0px;
}

.tab {
  padding: 10px 6px;
}

.tab-active {
  border-bottom: solid #069 3px;
}

.pb-50 {
  padding-bottom: 50px;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}
