<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/pages/events"></ion-back-button>
    </ion-buttons>

    <ion-title>Event Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="shadow-none">
    <img *ngIf="event?.photo" [src]="event?.photo_url" />

    <ion-card-header>
      <ion-card-title>{{ event?.event_name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p [innerHtml]="event?.long_description" class="fs-5"></p>
    </ion-card-content>
  </ion-card>


  <ion-list lines="full">
    <ion-list-header lines="full">
      <ion-label>
        <h5 class="fs-5">Sessions</h5>
        <p class="mb-2">Select session to record attendance</p>
      </ion-label>
    </ion-list-header>

    <ion-item detail="true" button *ngFor="let session of event?.sessions" (click)="setAttendanceSession(session)">
      <ion-label>{{ session.session_name }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
